mà m sửa gì mà nghe trùng tu kinh v
PORT=3000

# Database
DB_USER=postgres
DB_HOST=localhost
DB_NAME=do_an_chuyen_nganh
DB_PASSWORD=1
DB_PORT=5432

# JWT Secret (THAY ĐỔI TRONG PRODUCTION!)
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production_12345

# Google Gemini API Key (MIỄN PHÍ - 60 requests/phút)
GEMINI_API_KEY=AIzaSyC7UHLrSx9giGR_pfdeHTJ401E3-a1nRPo

# Blockchain
AMOY_RPC=https://rpc-amoy.polygon.technology
PRIVATE_KEY=0x41524155310240490f064c459330a6d75ca7986313c557fa0fc3bf729caf8126
CONTRACT_ADDRESS=0xEeD190937716183B5F1c88D1046B1F26a2F05765

# MOMO Configuration (Test)
MOMO_PARTNER_CODE=MOMO
MOMO_ACCESS_KEY=F8BBA842ECF85
MOMO_SECRET_KEY=K951B6PE1waDMi640xX08PD3vg6EkVlz
MOMO_REDIRECT_URL=http://localhost:5173/payment/success
MOMO_IPN_URL=https://your-public-domain.com/api/payments/momo/callback

# Email Configuration
EMAIL_USER=nguyenthanhnhan.20474@gmail.com
EMAIL_PASSWORD=wkdgpinvbaogksbh
# Test Sandbox Account
# VNPay (Sandbox)
VNP_TMN_CODE=BCDEC6H8
VNP_HASH_SECRET=BYNQT6V4BAMU9WPO2ECN6PIX4KT69JR6
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
# Public return URL (change if using ngrok or real domain)
VNP_RETURN_URL=http://localhost:3000/api/payments/vnpay/return

# ============ ENVIRONMENT ============
NODE_ENV=development
# development | production
